* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.section-title {
  font-family: SF Pro, sans-serif;
  font-weight: 590;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.75%;
  color: #0F172A;
}

.section-header {
  background-color: #F2F2F7;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  font-family: SF Pro;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  display: flex;
  gap: 8px;
  cursor: pointer;
  margin-bottom: 16px;
}

.header {
  padding: 20px 0;
  background-color: white;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  display: flex;
}

.nav-list {
  display: flex;
  gap: 24px;
  list-style: none;
}

.nav-link {
  font-family: SF Pro, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: black;
  text-decoration: none;
}

.main-link {
  padding: 8px 16px;
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0%;
  background-color: #0F172A;
  border-radius: 8px;
  color: white;
  text-decoration: none;
}

/* header end  */

.hero {
  padding: 170px 0;
  background: url("../img/hero/block.svg");
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-info {
  max-width: 540px;
}

.hero-title {
  font-family: SF Pro, sans-serif;
  font-weight: 590;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #0F172A;
  margin-bottom: 12px;
}

.hero-text {
  font-family: SF Pro, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #475569;
  margin-bottom: 40px;
}

.hero-link {
  padding: 10px 24px;
  border-radius: 8px;
  background-color: #0F172A;
  box-shadow: 0px 4px 6px 0px #00000017;
  font-family: SF Pro, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  color: white;
  text-decoration: none;
}

.hero-img {
  max-width: 282px;
}

/* hero end  */
/* brand start  */
.brand {
  padding: 26px 0;
  background-color: #F2F2F7;
}

.brand-container {
  display: flex;
  justify-content: space-between;
}

.brand-logo {
  width: 135px;
}

/* brand end */
/* service start */
.service {
  background-image: url("../img/hero/block.svg");
  background-repeat: no-repeat;
  padding-top: 120px;
  padding-bottom: 72px;
}

.service-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}


.service-title {
  font-family: SF Pro, sans-serif;
  font-weight: 590;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.75%;
  color: #0F172A;
}

.service-list {
  padding-top: 40px;
  list-style: none;
}

.service-item {
  display: flex;
  align-items: start;
  gap: 16px;
  padding: 32px 0;
  border-bottom: 1px solid #E2E8F0
}

.service-list .service-item:last-child {
  border-bottom: none;
}

.service-img {
  width: 52px;
}


.service-item-title {
  font-family: SF Pro, sans-serif;
  font-weight: 590;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6%;
  margin-bottom: 8px;
  color: #0F172A;
}

.service-item-list {
  padding-left: 24px;
  list-style: disc;
  font-family: SF Pro, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #334155;
}

/* service end */
/* why-us start */
.why-us {
  padding: 64px 0;
  background: url("../img/hero/block.svg");
}

.why-us-conatiner {
  text-align: center;
}

.why-us-top {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 64px;
}

.why-us-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
}

.why-us-col {
  text-align: left;
  padding: 24px;
  border: 1px solid #E2E8F0;
  border-radius: 24px;
  background: linear-gradient(102.43deg, #FEFEFE 16.88%, #F9F9F9 104.88%);
  margin-bottom: 64px;
}

.why-us-col-img {
  width: 48px;
  margin-bottom: 32px;
}

.why-us-col-title {
  font-family: SF Pro, sans-serif;
  font-weight: 590;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6%;
  color: #0F172A;
  margin-bottom: 8px;
}

.why-us-col-text {
  font-family: SF Pro, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;

}

/* why-us end */
/* potfolio start */

.portfolio {
  padding: 64px 0;
  background: url("../img/hero/block.svg");
}

.portfolio-card {
  max-width: 512px;
}

.portfolio-card-img {
  border: 1px solid #E2E8F0;
  border-radius: 24px;
  margin-bottom: 8px;
  display: block;
  width: 100%;
  height: 300px;
}

.portfolio-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #E2E8F0;
  padding: 12px;
  cursor: pointer;
  user-select: none;
}

.mySwiper {
  max-width: 1056px;
}

.portfolio-row {
  position: relative;
}

.swiper-button-prev1 {
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 1111;
  transform: translateY(-50%);
}

.swiper-button-next1 {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1111;
}

.portfolio-card-title {
  font-family: SF Pro, sans-serif;
  font-weight: 590;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6%;
  color: #0F172A;
  margin-bottom: 8px;
}

.portfolio-card-text {
  font-family: SF Pro, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #334155;
}

/* portfolio end */
/* about start */
.about {
  padding-top: 64px;
  background: url("../img/hero/block.svg");
}

.about-container {
  text-align: center;
}

.about-title {
  text-align: center;
  margin-bottom: 64px;
}

.about-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 32px;
  margin-bottom: 64px;
  text-align: left;
}

.about-col {
  border: 1px solid #E2E8F0;
  background: linear-gradient(102.43deg, #FEFEFE 16.88%, #F9F9F9 104.88%);
  border-radius: 24px;
  padding: 32px;
  margin-bottom: 64px;
}

.about-col-title {
  font-family: SF Pro, sans-serif;
  font-weight: 590;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6%;
  margin-bottom: 8px;
  color: #0F172A;
}

.about-col-text {
  font-family: SF Pro, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #334155;
}

/* about end */
/* commit start */
.commit {
  padding-top: 120px;
  background: url("../img/hero/block.svg");
}

.commit-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.commit-list {
  padding-top: 40px;
  list-style: none;
}

.commit-item {
  padding: 40px 0;
  display: flex;
  align-items: start;
  gap: 24px;
  border-bottom: 1px solid #E2E8F0
}

.commit-item:nth-child(3) {
  border-bottom: none;
}

.commit-img {
  height: 80px;
  width: 80px;
  border: 20px;
}


.commit-item-title {
  font-family: SF Pro, sans-serif;
  font-weight: 590;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.6%;
  color: #0F172A;
}

.commit-item-text {
  font-family: SF Pro, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #334155;
}

.commit-btn {
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  background-color: #F2F2F7;
  color: #0F172A;
  cursor: pointer;
  margin-bottom: 40px;
  font-family: SF Pro,sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;

}